.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
}

.App > * {
  margin: 10px;
}

.App #canvasContainer {
  position: relative;
}

.App #canvasContainer img {
  height: 70vh;
}

.App #canvas{
  position: absolute;
  border: 1px solid gray;
  top: 0;
  left: 0;
}
